.top{
    padding-top: 3%;
}

h3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.borda{
  border: solid 2px;
  border-radius: 2%;
  border-color: white rgba(53, 43, 43, 0.219) rgba(53, 43, 43, 0.219) white;
  box-shadow: 7px 7px 20px rgba(128, 128, 128, 0.63);
}

#extencao:hover {
  transform: translateY(5px); /* Move o botão 5 pixels para baixo no eixo Y no hover */
}
#boletos:hover {
  transform: translateY(5px); /* Move o botão 5 pixels para baixo no eixo Y no hover */
}
#protocolo:hover {
  transform: translateY(5px); /* Move o botão 5 pixels para baixo no eixo Y no hover */
}
#login:hover {
  transform: translateY(5px);
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    padding-left: 27%;
  }
  
  @media only screen and (min-width: 700px) {
    /* For tablets: */
    
    .col-s-1 {width: 25%; padding-left: 2%; margin-left: 8%;}
    .col-s-2 {width: 25%; padding-left: 2%;}
    .col-s-3 {width: 25%; padding-left: 2%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    
    .col-1 {width: 30%; padding-left: 2%;}
    .col-2 {width: 30%; padding-left: 2%;}
    .col-3 {width: 30%; padding-left: 2%;}
  }
/*CSS resposivel: https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/

  .row{
    --bs-gutter-x: 0rem !important;
  }

  

