/*Inicio tutorial*/
.btn {
    color: #D9D9D9;
    background-color: #234E98;
    border-radius: 100%;
    padding: 10px 17px;
    right: 30px;
    bottom: 30px;
    position: fixed;
  }

.btn:hover {
    background-color: #2d6ad3;
    color: #D9D9D9;
  }
  
  .modal2 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 700px;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    padding: 50px 100px;
    border-radius: 20px;
  }
  
  .modal2 video {
    margin: 5px;
  }
  
  .video {
    display: flex;
    align-items: center;
  }
  
  .video h4 {
    margin-left: 20px;
  }
  

@media (max-width: 720px) {
    .janela-modal {
        margin: 0;
        padding: 0;
        height: 100vh;
      }
    
      .modal2 {
        margin: 0;
        padding: 0;
        width: 380px;
        height: 600px;
      }
    
      .modal2 h1 {
        margin-bottom: 30px;
      }
    
      .video{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .video video {
        width: 200px;
      }
    
      .video h4{
        font-size: 16px;
      }
}
