.btn-info {
    margin-bottom: 20px;
    width: 10rem;
    align-items: center;
    margin-left: 3.88rem;
    background-color: rgb(35, 182, 182)
    
}

.card-title {
    color: antiquewhite;
}

.card {
    background-color: rgb(13, 19, 51)
}

.card-title {
    text-align: center;
}