.btn-info {
    margin-bottom: 20px;
    width: 10rem;
    align-items: center;
    margin-left: 3.88rem;
    background-color: rgb(167, 211, 211)
    
}

.card-title {
    color: antiquewhite;
}

.card {
    background-color: rgb(16, 101, 122)
}

.card-title {
    text-align: center;
}